<h1>Events online</h1>

<div>
  <% if user_signed_in? %>
    <% @events.each do |event| %>
        
        <p><%= link_to event.name, @event %></p>
        <p><%= link_to event.date, @root %></p>
        <p><%= link_to event.location, @root %></p>
        
    <% end %>
  <% end %>
</div>

<h1>Upcoming Events</h1>
<% @events.upcoming.each do |event| %>
  <div>
    <h3><%= link_to event.name, event_path(event) %></h3>
    <p>Date: <%= event.date %></p>
    <p><%= event.location %></p>
  </div>
<% end %>

<h1>Past Events</h1>
<% @events.past.each do |event| %>
  <div>
    <h3><%= link_to event.name, event_path(event) %></h3>
    <p>Date: <%= event.date %></p>
    <p><%= event.location %></p>
  </div>
<% end %>


