<h1>Invite Users to<%= @event.name %></h1>

<%= form_tag send_invites_event_path(@event), method: :post do %>
  <% @users_to_invite.each do |user| %>
    <%= check_box_tag 'invited_user_ids[]', user.id %>
    <%= user.email %><br>
  <% end %>  
  
  <%= button_to 'Invite', invite_event_path(@event), class: 'btn btn-primary' %>
<% end %>    