<h1><%= @event.name %></h1>
<p><%= @event.date%></p>
<p>Location: <%= @event.location%></p>


<% if current_user && current_user.attended_events.include?(@event) %>
  <%= button_to "Unattend", event_attendance_path(@event), method: :delete, class: "btn btn-danger" %>
<% elsif current_user %>
  <%= button_to "Attend", event_attendances_path(event_id: @event.id), method: :post, class: "btn btn-primary" %>
<% else %>  
  <p>Please log in to attend this event.</p>
<% end %>